<a href="https://colab.research.google.com/github/ludmilaqlawik/Projekt-zaliczeniowy-WSB/blob/main/Projekt_zaliczeniowy_WSB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Temat:** Projekt zaliczeniowy - analiza danych z Twittera (CSV)

**Autor**: Ludmiła Kulawik

**Prowadzacy**: Patryk Hubar

**Cel / Etapy projektu**: wczytanie danych, czyszczenie i przygotowanie danych, analiza eksploracyjna (EDA), proste NLP (osoby/miejsca/organizacje) oraz wykres w matplotlib.

**Źródło danych**: pliki CSV udostępnione przez prowadzącego, umieszczone w repozytorium w folderze *data*/.

# **KROK 1** - Organizacja pracy w projekcie


---


**Co robimy**

Wszystkie dane, pliki i foldery będą dostępne w repozytorium na GitHubie, samo pisanie projektu będzie miało miejsce w Colabie. Pobieramy więc repozytorium z GitHuba do sesji Colab.

**Dlaczego**

Colab otwiera sam notebook, ale nie pobiera automatycznie całego repozytorium, w którym umieściłam dane. Żeby móc czytać pliki CSV z folderu data/, muszę mieć je fizycznie w sesji Colab.

In [88]:
!rm -rf Projekt-zaliczeniowy-WSB
!git clone https://github.com/ludmilaqlawik/Projekt-zaliczeniowy-WSB.git
%cd Projekt-zaliczeniowy-WSB

Cloning into 'Projekt-zaliczeniowy-WSB'...
fatal: could not read Username for 'https://github.com': No such device or address
[Errno 2] No such file or directory: 'Projekt-zaliczeniowy-WSB'
/content/Projekt-zaliczeniowy-WSB

**Co robimy**

W Colab wklejam token (utworzony na githubie) do komórki, klonując w ten sposób repozytorium, a następnie sprawdzam, czy mam dostęp do folderu data/
![image.png]()

**Dlaczego**

Po sklonowaniu w Colab będzie można wczytać pliki CSV z folderu data/.

In [89]:
TOKEN = "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"

!rm -rf Projekt-zaliczeniowy-WSB
!git clone https://{TOKEN}@github.com/ludmilaqlawik/Projekt-zaliczeniowy-WSB.git
%cd Projekt-zaliczeniowy-WSB

Cloning into 'Projekt-zaliczeniowy-WSB'...
remote: Enumerating objects: 65, done.
remote: Counting objects: 100% (65/65), done.
remote: Compressing objects: 100% (61/61), done.
remote: Total 65 (delta 29), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (65/65), 6.02 MiB | 10.25 MiB/s, done.
Resolving deltas: 100% (29/29), done.
/content/Projekt-zaliczeniowy-WSB/Projekt-zaliczeniowy-WSB

In [90]:
!ls -la data | head

total 20104
drwxr-xr-x 2 root root    4096 Jan 27 23:53 .
drwxr-xr-x 4 root root    4096 Jan 27 23:53 ..
-rw-r--r-- 1 root root 3550943 Jan 27 23:53 dane1.csv
-rw-r--r-- 1 root root 6838762 Jan 27 23:53 dane2.csv
-rw-r--r-- 1 root root 1332701 Jan 27 23:53 dane3.csv
-rw-r--r-- 1 root root  430868 Jan 27 23:53 dane4.csv
-rw-r--r-- 1 root root  318701 Jan 27 23:53 dane5.csv
-rw-r--r-- 1 root root  972937 Jan 27 23:53 dane6.csv
-rw-r--r-- 1 root root 3552282 Jan 27 23:53 dane7.csv

In [91]:
!ls -la data | tail -n 5

-rw-r--r-- 1 root root  972937 Jan 27 23:53 dane6.csv
-rw-r--r-- 1 root root 3552282 Jan 27 23:53 dane7.csv
-rw-r--r-- 1 root root 2301957 Jan 27 23:53 dane8.csv
-rw-r--r-- 1 root root 1256731 Jan 27 23:53 dane8.xlsx
-rw-r--r-- 1 root root       5 Jan 27 23:53 .gitkeep

# KROK 2 — Wczytanie wszystkich plików CSV i połączenie w jeden zbiór
**Co robimy**

Wczytujemy wszystkie pliki CSV z folderu data/ i łączymy je w jedną tabelę df. Zanim jednak to zrobimy, sprawdzimy ich strukturę, aby mieć pewność, że połączone dane zachowają sens.

**Dlaczego**

Skoro pliki mają identyczne kolumny i ich kolejność, to traktujemy je jako części jednego zbioru danych.

In [92]:
import glob           # glob pomaga wyszukiwać pliki po wzorcu, np. "data/*.csv"
import os             # os to wbudowany moduł Pythona do pracy z systemem operacyjnym,daje efekt estetyczny przy wyświetlaniu ścieżek do plików
import pandas as pd   # pandas to główna biblioteka do pracy z tabelami (DataFrame), ją też importujemy

In [93]:
csv_files = sorted(glob.glob("data/*.csv"))     # znajduję wszystkie pliki .csv w folderze data/ i sortuję je alfabetycznie. UWAGA: nie uwzględniam pliku excel ze względu na jego datę - przyjmuję, że ten plik nie nalezy do projektu
print("Znalezione pliki CSV:", len(csv_files))  # wypisuję ile plików znalazłam

Znalezione pliki CSV: 8

In [94]:
for f in csv_files:  # przechodzę po każdym znalezionym pliku
    print(" -", f)   # wypisuję nazwę/ścieżkę pliku, żeby widzieć co dokładnie będzie wczytane

 - data/dane1.csv
 - data/dane2.csv
 - data/dane3.csv
 - data/dane4.csv
 - data/dane5.csv
 - data/dane6.csv
 - data/dane7.csv
 - data/dane8.csv

In [95]:
# SPRAWDZENIE czy wszystkie pliki CSV mają identyczne kolumny (nazwy + kolejność).
# Wczytuję tylko nagłówki (nrows=0)
csv_files = sorted(glob.glob("data/*.csv"))

In [96]:
base_file = csv_files[0]                                      # ustawiam pierwszy plik jako wzorzec do sprawdzenia/ porównania
base_cols = pd.read_csv(base_file, nrows=0).columns.tolist()  # uwzględniam tylko nagłówki
base_set = set(base_cols)

In [97]:
print("Plik wzorcowy:", base_file)                            # wypisuję nazwę pliku wzorcowego (pełną ścieżkę)
print("Liczba kolumn:", len(base_cols))

Plik wzorcowy: data/dane1.csv
Liczba kolumn: 35

In [98]:
all_ok_names = True
all_ok_order = True

In [99]:
for f in csv_files[1:]:
    cols = pd.read_csv(f, nrows=0).columns.tolist()
    cols_set = set(cols)

    if cols_set != base_set:
        all_ok_names = False
        print("\n RÓŻNE NAZWY KOLUMN w pliku:", f)
        print("Brakuje:", sorted(base_set - cols_set))
        print("Dodatkowe:", sorted(cols_set - base_set))

    if cols != base_cols and cols_set == base_set:
        all_ok_order = False
        print("\n INNA KOLEJNOŚĆ KOLUMN w pliku:", f)

print("\n--- PODSUMOWANIE ---")
print("Identyczne NAZWY kolumn? ->", all_ok_names)
print("Identyczna KOLEJNOŚĆ? ->", all_ok_order)

--- PODSUMOWANIE ---
Identyczne NAZWY kolumn? -> True
Identyczna KOLEJNOŚĆ? -> True

Ponieważ struktura plików z danymi jest identyczna, możemy je połączyć w jedną bazę.

In [100]:
                                                # Wczytuję każdy plik CSV do osobnej "tabeli" (DataFrame) i składam je do listy
df_list = [pd.read_csv(f) for f in csv_files]   # dla każdego pliku f: pd.read_csv(f) wczytuje go do DataFrame

In [101]:
                                                # Łączę wszystkie DataFrame z listy w jeden duży DataFrame
df = pd.concat(df_list, ignore_index=True)      # concat skleja wiersze jeden pod drugim; ignore_index=True ustawia nowe indeksy 0..n-1

In [102]:
print("\nPołączone dane (wiersze, kolumny):", df.shape)   # df.shape pokazuje (liczba_wierszy, liczba_kolumn)
df.head()                                                 # pokazuję pierwsze 5 wierszy, żeby upewnić się, że dane wyglądają sensownie

Połączone dane (wiersze, kolumny): (28352, 35)

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Tue Jun 01 05:26:49 +0000 2021,NaN,https://twitter.com/MarkonMarek/status/1399598...,NaN,1,1399598285082476544,beata_skwarska,1.399598e+18,8.241523e+17,...,1468,1950,7,"Warszawa, Polska",MarKon#SilniRazem ***** ***✌️✌️✌️✌️✌️,MarkonMarek,85125,NaN,NaN,False
1,NaN,Tue Jun 01 04:15:56 +0000 2021,NaN,NaN,NaN,0,1399580447902994435,NaN,NaN,NaN,...,9384,4615,17,NaN,Józef Nowacki,21lupus,74846,NaN,NaN,False
2,NaN,Tue Jun 01 04:47:19 +0000 2021,NaN,NaN,https://ift.tt/3yTNxU8,1,1399588347358633987,NaN,NaN,NaN,...,30608,105,140,"Warszawa, Polska",WTP Warszawa,WTP_Warszawa,35367,NaN,http://www.wtp.waw.pl,False
3,NaN,Tue Jun 01 05:47:47 +0000 2021,NaN,NaN,NaN,0,1399603562343194625,LukaszKohut,1.399475e+18,4.267734e+08,...,688,1374,13,NaN,marcin (m³) 🇵🇱,m3_ememem,68546,NaN,NaN,False
4,NaN,Tue Jun 01 05:03:08 +0000 2021,WspieramyRodziny DzieńDziecka,https://twitter.com/j_wisniewska/status/139959...,http://m.in,54,1399592325324619780,NaN,NaN,NaN,...,23054,678,233,"województwo śląskie, PL",Jadwiga Wiśniewska,j_wisniewska,10483,NaN,http://www.jadwigawisniewska.pl,True

# KROK 3 — Zadanie, część 1
**Co robimy**

Przystępuję do rozwiązania zadań w projekcie zaliczeniowym, w części dotyczącej przetwarzania i oczyszczania danych.

**CZĘŚĆ 1 / PUNKT 1:**
Z kolumny created_at wyciągam skrót dnia tygodnia (Mon/Tue/...) i zamieniam go na pełną polską nazwę. Wynik zapisuję do nowej kolumny.

In [103]:
df["created_at"] = pd.to_datetime(       # zamieniam created_at na typ daty/czasu (datetime)
    df["created_at"],                    # biorę istniejącą kolumnę created_at
    errors="coerce",                     # jeśli trafia się coś nietypowego -> zamieniam na NaT zamiast błędu
    utc=True                             # ustawiam wspólną strefę czasu UTC
)

/tmp/ipython-input-1641359239.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["created_at"] = pd.to_datetime(       # zamieniam created_at na typ daty/czasu (datetime)

In [104]:
df["created_at_day_abbr"] = df["created_at"].dt.strftime("%a")  # tworzę skrót dnia tygodnia (np. Mon, Tue)
days_abbr_to_pl = {                                             # słownik: skrót EN -> pełna nazwa PL
    "Mon": "poniedziałek",
    "Tue": "wtorek",
    "Wed": "środa",
    "Thu": "czwartek",
    "Fri": "piątek",
    "Sat": "sobota",
    "Sun": "niedziela"
}

In [105]:
df["created_at_day_pl"] = df["created_at_day_abbr"].map(days_abbr_to_pl)  # mapuję skróty na polskie nazwy

In [106]:
df[["created_at", "created_at_day_abbr", "created_at_day_pl"]].head(10)   # podgląd wyniku

                 created_at created_at_day_abbr created_at_day_pl
0 2021-06-01 05:26:49+00:00                 Tue            wtorek
1 2021-06-01 04:15:56+00:00                 Tue            wtorek
2 2021-06-01 04:47:19+00:00                 Tue            wtorek
3 2021-06-01 05:47:47+00:00                 Tue            wtorek
4 2021-06-01 05:03:08+00:00                 Tue            wtorek
5 2021-06-01 04:15:04+00:00                 Tue            wtorek
6 2021-06-01 05:13:00+00:00                 Tue            wtorek
7 2021-06-01 05:09:13+00:00                 Tue            wtorek
8 2021-06-01 06:14:26+00:00                 Tue            wtorek
9 2021-06-01 03:52:47+00:00                 Tue            wtorek

**CZĘŚĆ 1 / PUNKT 2:** Z kolumny user_created_at wyciągam skrót miesiąca (Jan/Feb/Jun/...) i zamieniam go na liczbę miesiąca (01-12). Wynik zapisuję do nowej kolumny.

In [107]:
df["user_created_at"] = pd.to_datetime(
    df["user_created_at"].astype(str),
    format="%Y-%m-%d %H:%M:%S%z",
    errors="coerce"
)

In [108]:
# Tworzę skrót miesiąca (Jan/Feb/...) i zamieniam na liczbę 01-12
df["user_created_month_abbr"] = df["user_created_at"].dt.strftime("%b")
months_abbr_to_num = {
    "Jan": "01", "Feb": "02", "Mar": "03", "Apr": "04",
    "May": "05", "Jun": "06", "Jul": "07", "Aug": "08",
    "Sep": "09", "Oct": "10", "Nov": "11", "Dec": "12"
}

In [109]:
df["user_created_month_num"] = df["user_created_month_abbr"].map(months_abbr_to_num) # Mapuję skróty miesięcy na liczbowe odpowiedniki

In [110]:
print("Braki user_created_at po konwersji:", df["user_created_at"].isna().sum())        # Sprawdzamy czy są braki w danych
df[["user_created_at", "user_created_month_abbr", "user_created_month_num"]].head(10)   # Wyświetlamy 10 pierwszych pozycji

Braki user_created_at po konwersji: 28352

  user_created_at user_created_month_abbr user_created_month_num
0             NaT                     NaN                    NaN
1             NaT                     NaN                    NaN
2             NaT                     NaN                    NaN
3             NaT                     NaN                    NaN
4             NaT                     NaN                    NaN
5             NaT                     NaN                    NaN
6             NaT                     NaN                    NaN
7             NaT                     NaN                    NaN
8             NaT                     NaN                    NaN
9             NaT                     NaN                    NaN

**CZĘŚĆ 1 / PUNKT 3**: Pobieram wszystkie linki w tweetów i przekazuję je do listy.

In [111]:
# Pobieram wszystkie linki DO tweetów z kolumny "tweet_url" i zapisuję je do listy. Usuwam braki (NaN/None)
tweet_links_series = df["tweet_url"].dropna()

In [112]:
# Usuwam duplikaty i zamieniam na listę Pythona
tweet_links = tweet_links_series.drop_duplicates().tolist()

In [113]:
# Kontrola: wypisuję ile linków zebrano + kilka przykładów
print("Liczba linków do tweetów:", len(tweet_links))
print("Przykłady (pierwsze 5):", tweet_links[:5])

Liczba linków do tweetów: 23256
Przykłady (pierwsze 5): ['https://twitter.com/MarkonMarek/status/1399598285082476544', 'https://twitter.com/21lupus/status/1399580447902994435', 'https://twitter.com/WTP_Warszawa/status/1399588347358633987', 'https://twitter.com/m3_ememem/status/1399603562343194625', 'https://twitter.com/j_wisniewska/status/1399592325324619780']

In [114]:
# Kontrola jakości: sprawdzam, czy linki wyglądają poprawnie (czy zaczynają się od http)
print("Ile linków NIE zaczyna się od http:", sum(not str(u).startswith("http") for u in tweet_links))

Ile linków NIE zaczyna się od http: 0

**CZĘŚĆ 1 / PUNKT 4**: Pobieram wszystkie linki znajdujące się w tweetów i przekazuję je do listy.

In [115]:
import re  # regex: wyszukiwanie wzorców w tekście

In [116]:
# Biorę tekst tweetów, a braki zamieniam na pusty tekst
text_series = df["text"].fillna("").astype(str)

In [117]:
# Ustalam wzorzec dla szukanych linków: link zaczynający się od http/https aż do spacji
url_pattern = r"https?://\S+"

In [118]:
# Zbieram linki z każdego tweeta (powstanie lista list)
links_nested = text_series.apply(lambda t: re.findall(url_pattern, t))

In [119]:
# Zbieram listę list do jednej listy
all_links_raw = [u for sub in links_nested for u in sub]

In [120]:
# Czyszczę końcówki typu kropka/przecinek/nawias po linku (częsty problem w tekstach) - krok opcjonalny
def clean_url(u: str) -> str:
    return u.rstrip(").,!?;:\"'")

all_links_clean = [clean_url(u) for u in all_links_raw]

In [121]:
# Usuwam duplikaty, zachowując kolejność
all_links = list(dict.fromkeys(all_links_clean))

In [122]:
# Kontrola: ile linków znaleziono + kilka przykładów
print("Liczba linków w treści tweetów:", len(all_links))
print("Przykłady (pierwsze 10):", all_links[:10])

Liczba linków w treści tweetów: 5526
Przykłady (pierwsze 10): ['https://t.co/W7BcySyuNd', 'https://t.co/4BjvKx3FlM', 'https://t.co/DXAKboKzf5', 'https://t.co/S1IoJuhtiL', 'https://t.co/1YYQPTz1le', 'https://t.co/eg2c3jnuKU', 'https://t.co/HaTE06Qn9b', 'https://t.co/NaRixsWTpo', 'https://t.co/JoLh9B5cbe', 'https://t.co/GgNSNbPAfA']

**CZĘŚĆ 1 / PUNKT 5**: Z listy wszystkich linków (all_links) wybieram linki do

*   Element listy
*   Element listy

obrazków i zapisuję je do listy image_links.

In [123]:
import re  # regex przyda się do rozpoznania końcówek .jpg/.png itd., będę uwzględniać domeny typowe dla Twittera: pbs.twimg.com, twimg.com, pic.twitter.com, albo linki kończące się na .jpg, .png, .gif, .webp.

In [124]:
image_links_raw = []  # tu będę zbierać linki pasujące do obrazków

In [125]:
for u in all_links:  # przechodzę po każdym linku znalezionym w treści tweetów
    u_low = str(u).lower()  # zamieniam na małe litery, żeby łatwo sprawdzać domeny/końcówki

    # Ustalam domeny charakterystyczne dla obrazków w Twitterze
    is_twitter_image = ("pbs.twimg.com" in u_low) or ("twimg.com" in u_low) or ("pic.twitter.com" in u_low)

    # Ustalam końcówki plików graficznych
    is_image_ext = re.search(r"\.(jpg|jpeg|png|gif|webp)(\?|$)", u_low) is not None

    if is_twitter_image or is_image_ext:  # jeśli to obrazek wg jednego z warunków
        image_links_raw.append(u)         # dodaję do listy

In [126]:
# Usuwam duplikaty, zachowując kolejność
image_links = list(dict.fromkeys(image_links_raw))

In [127]:
print("Liczba linków do obrazków:", len(image_links))
print("Przykłady (pierwsze 10):", image_links[:10])

Liczba linków do obrazków: 0
Przykłady (pierwsze 10): []

W treści tweetów nie występują bezpośrednie linki do obrazków (np. pbs.twimg.com lub .jpg/.png). Zakładam, że linki do obrazów znajdują się w tabeli w kolumnie "media". Wykonam podpunkt 5 jeszcze raz.

In [128]:
import re

# Biorę kolumnę media; braki zamieniam na pusty tekst
media_series = df["media"].fillna("").astype(str)

In [129]:
# Wyciągam wszystkie linki z pola media, używając ustalomnego schematu
url_pattern = r"https?://\S+"
media_urls_nested = media_series.apply(lambda t: re.findall(url_pattern, t))

In [130]:
# Scalam listę list do jednej listy
media_urls_raw = [u for sub in media_urls_nested for u in sub]

In [131]:
# Czyszczę końcówki linków (kropki, przecinki, nawiasy)
def clean_url(u: str) -> str:
    return u.rstrip(").,!?;:\"'")

media_urls_clean = [clean_url(u) for u in media_urls_raw]

In [132]:
# Filtruję tylko linki wyglądające na obrazki
image_links_raw = []
for u in media_urls_clean:
    u_low = u.lower()
    is_twitter_image = ("pbs.twimg.com" in u_low) or ("twimg.com" in u_low) or ("pic.twitter.com" in u_low)
    is_image_ext = re.search(r"\.(jpg|jpeg|png|gif|webp)(\?|$)", u_low) is not None
    if is_twitter_image or is_image_ext:
        image_links_raw.append(u)

In [133]:
# Usuwam duplikaty, zachowując kolejność
image_links = list(dict.fromkeys(image_links_raw))

In [134]:
# Kontrola
print("Liczba linków do obrazków (z media):", len(image_links))
print("Przykłady (pierwsze 10):", image_links[:10])

Liczba linków do obrazków (z media): 0
Przykłady (pierwsze 10): []

Niestety, tutaj też nie ujawniły się obrazki. Być może użyłam złego wzorca linku. Sprawdziłam jeszcze raz, co jest w kolumnie "media"- w danych link do obrazka jest właśnie w tej postaci: .../photo/1 (czyli link do zdjęcia w tweecie)

In [135]:
# Pobieram więc wszystkie linki zawierające "/photo/"
media_series = df["media"].fillna("").astype(str).str.strip()

In [136]:
# biorę tylko niepuste wartości
media_nonempty = media_series[media_series != ""]

In [137]:
# czyszczę końcówki linków
media_nonempty = media_nonempty.str.rstrip(").,!?;:\"'")

In [138]:
# filtruję tylko zdjęcia (linki zawierające /photo/)
image_links_series = media_nonempty[media_nonempty.str.contains(r"/photo/\d+", regex=True)]

In [139]:
# usuwam duplikaty i zamieniam na listę
image_links = image_links_series.drop_duplicates().tolist()

In [140]:
# Kontrola
print("Liczba linków do obrazków (z media):", len(image_links))
print("Przykłady (pierwsze 10):", image_links[:10])

Liczba linków do obrazków (z media): 1581
Przykłady (pierwsze 10): ['https://twitter.com/MarkonMarek/status/1399598285082476544/photo/1', 'https://twitter.com/j_wisniewska/status/1399592325324619780/photo/1', 'https://twitter.com/serhenryk/status/1399594808545480705/photo/1', 'https://twitter.com/Warszawa_STAT/status/1399610269467394048/photo/1', 'https://twitter.com/MarkonMarek/status/1399598174130552833/photo/1', 'https://twitter.com/OnetWiadomosci/status/1399587525220466689/photo/1', 'https://twitter.com/Glodowo/status/1399606791114219521/photo/1', 'https://twitter.com/DGWdowodztwo/status/1399593660421865475/photo/1', 'https://twitter.com/AutoMapa/status/1399607162167513089/photo/1', 'https://twitter.com/AutoMapa/status/1399592059435196416/photo/1']

**CZĘŚĆ 1 / PUNKT 6**: Usuwam z tekstu wszystkie słowa oznaczone jako stopwords i przekazuję oczyszczony tekst do nowej kolumny o nazwie text_without_stopwords

In [141]:
import nltk
import os

print("NLTK data paths:", nltk.data.path)

# Wymuszam pobranie paczki stopwords
nltk.download("stopwords", force=True)

# Kontrola: czy folder stopwords istnieje w którymś z katalogów NLTK
for p in nltk.data.path:
    candidate = os.path.join(p, "corpora", "stopwords")
    if os.path.exists(candidate):
        print("Znaleziono stopwords w:", candidate)

NLTK data paths: ['/root/nltk_data', '/usr/nltk_data', '/usr/share/nltk_data', '/usr/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data']
Znaleziono stopwords w: /root/nltk_data/corpora/stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [142]:
import re
import os
import nltk
from nltk.corpus import stopwords

# 1) Wymuszam pobranie paczki stopwords
nltk.download("stopwords", force=True)

# 2) Diagnostyka: pokazuję, gdzie NLTK trzyma dane i czy widzi folder stopwords
print("NLTK data paths:", nltk.data.path)
for p in nltk.data.path:
    d = os.path.join(p, "corpora", "stopwords")
    if os.path.isdir(d):
        print("Znaleziono folder stopwords w:", d)
        print("Przykładowe pliki w stopwords:", os.listdir(d)[:15])

# 3) Próbuję wczytać stopwords PL i EN; jeśli się nie da, używam fallback
try:
    pl_stop = stopwords.words("polish")
except Exception as e:
    print("Nie udało się wczytać stopwords PL z NLTK -> używam fallback. Błąd:", repr(e))
    pl_stop = [
        "i","oraz","a","ale","albo","że","to","jest","są","być","by","nie","tak","na","w","we","z","ze","do","od",
        "po","za","o","u","jak","dla","się","ten","ta","to","te","tam","tu","tutaj","kiedy","gdy","gdzie","który",
        "która","które","co","czego","kogo","komu","kim","czym","mnie","mi","ja","ty","on","ona","ono","my","wy",
        "oni","one","nas","wam","ich","jego","jej","im","was","czy","oraz","lub"
    ]

try:
    en_stop = stopwords.words("english")
except Exception as e:
    print("Nie udało się wczytać stopwords EN z NLTK -> używam fallback. Błąd:", repr(e))
    en_stop = [
        "the","and","a","an","to","of","in","on","for","with","is","are","was","were","be","been","being",
        "it","this","that","these","those","i","you","he","she","we","they","me","him","her","them",
        "my","your","his","their","our","not","no","yes","but","or","as","at","by","from","about","into"
    ]

STOP_WORDS = set(pl_stop) | set(en_stop)
print("STOP_WORDS gotowe. Liczba słów:", len(STOP_WORDS))

def remove_stopwords(text, stop_words=STOP_WORDS):
    if text is None:
        return ""
    text = str(text)

    # usuwam linki
    text = re.sub(r"https?://\S+", " ", text)

    # usuwam znaki specjalne (zostawiam litery/cyfry + polskie znaki)
    text = re.sub(r"[^0-9A-Za-zĄąĆćĘęŁłŃńÓóŚśŹźŻż\s]", " ", text)

    # małe litery
    text = text.lower()

    # tokenizacja i usunięcie stopwords
    tokens = text.split()
    tokens = [w for w in tokens if w not in stop_words]
    return " ".join(tokens)

# 4) Tworzę kolumnę wynikową
df["text_without_stopwords"] = df["text"].fillna("").apply(remove_stopwords)

# 5) Podgląd efektu
df[["text", "text_without_stopwords"]].head(5)

NLTK data paths: ['/root/nltk_data', '/usr/nltk_data', '/usr/share/nltk_data', '/usr/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data']
Znaleziono folder stopwords w: /root/nltk_data/corpora/stopwords
Przykładowe pliki w stopwords: ['french', 'english', 'portuguese', 'german', 'nepali', 'slovene', 'bengali', 'tamil', 'russian', 'kazakh', 'tajik', 'hebrew', 'danish', 'hungarian', 'finnish']
Nie udało się wczytać stopwords PL z NLTK -> używam fallback. Błąd: OSError("No such file or directory: '/root/nltk_data/corpora/stopwords/polish'")
STOP_WORDS gotowe. Liczba słów: 253

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

,text,text_without_stopwords
0,@beata_skwarska Warszawa 😀 https://t.co/W7BcyS...,beata skwarska warszawa
1,Nieznani sprawcy podpalili kapliczkę nadrzewną...,nieznani sprawcy podpalili kapliczkę nadrzewną...
2,⚠️ Utrudnienia w komunikacji: L20 https://t.co...,utrudnienia komunikacji l20
3,@LukaszKohut @moanrosa @LincaAgata @jan_jozef_...,lukaszkohut moanrosa lincaagata jan jozef lubo...
4,"Dzieci to największy skarb, o który musimy dba...",dzieci największy skarb musimy dbać wspieramyr...